.padding-0{
  padding: 0;
}

.margin-0{
  margin: 0;
}

img{
  width: 100%;
}

.question{
  display: none;
}

.question textarea{
  width: 100%;
}

.textfield{
  margin-top: 15px;
  margin-bottom: 61px;
  display: none;
}

.question-answer{
  margin-bottom: 7px;
}

.construction-links{
  margin-bottom: 50px;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
  height: 100%;
  width: 100%;
  padding: 30px;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  color: #fff;
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
}